@{
    ViewData["Title"] = "Karaoké";
}

<form id="not-started-form">
    <div class="form-group">
        <!-- Spacer -->
    </div>

    <div class="tab-content"  >
        <div id="searchAll" class="tab-pane fade in active">

            <div class="panel panel-default ">
                <div class="panel-heading">Désolé...</div>
                <div class="panel-body">
                    <div class="center-block">
                        <label class="text-center">Le karaoké n'est pas en fonction</label>
                        <div class="form-group">
                            <!-- Spacer -->
                        </div>
                        <label class="text-center">Réessayez plus tard</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>