<div>
    <mat-card class="card">
        <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
            <mat-input-container style="width: 365px">
                <input matInput placeholder="Nom d'utilisateur" formControlName="username" [ngClass]="{'error': isValid('username') }" />
            </mat-input-container>
            <br>
            <mat-input-container style="width: 365px">
                <input matInput type="password" placeholder="Mot de passe" formControlName="password" [ngClass]="{'error': isValid('password') }"
                />
            </mat-input-container>
            <mat-card-actions>
                <button mat-raised-button color="primary" style="margin-left: 10px">Ouvrir une session</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>