/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: #eeeeee;
}

.mat-toolbar {
    background: #555555;
}

.navbarbutton {
    color: white;
}

.card {
    margin: 10px;
    background: #dddddd;
}
